Repository TimPrd/Be-Happik, pull requests merged in 2019-02, with the labels that each got.

#44 Analytics
  [BACK]/app/controllers/Analytic.js
  [BACK]/app/controllers/Mood.js
  [BACK]/app/controllers/Survey.js
  [BACK]/app/controllers/Team.js
  [BACK]/app/controllers/Utils.js
  [BACK]/app/routes/router.js
  [BACK]/migrations/20190127160602-create-user-survey.js
  [BACK]/models/usersurvey.js
  [BACK]/package-lock.json
  [BACK]/seeders/20190127164157-demo-answer.js
  [BACK]/seeders/20190127164213-demo-user-survey.js
Labels: back

#47 Clean back code for front
  README.md
  [BACK]/app/controllers/Analytic.js
  [BACK]/app/controllers/Mood.js
  [BACK]/app/controllers/Question.js
  [BACK]/app/controllers/Survey.js
  [BACK]/app/controllers/User.js
  [BACK]/app/routes/router.js
  docs/api_data.js
  docs/api_data.json
  docs/api_project.js
  docs/api_project.json
Labels: back, fix

#32 start create survey page
  [FRONT]/.eslintrc.js
  [FRONT]/package.json
  [FRONT]/src/App.css
  [FRONT]/src/App.js
  [FRONT]/src/Locales.js
  [FRONT]/src/api.js
  [FRONT]/src/components/Buttons/AddItems.js
  [FRONT]/src/components/Buttons/BorderedButton.js
  [FRONT]/src/components/Buttons/Button.js
  [FRONT]/src/components/Collaborators/AddCollaborators.js
  [FRONT]/src/components/Collaborators/AddTeams.js
  [FRONT]/src/components/Collaborators/CollaboratorCard.js
  [FRONT]/src/components/Collaborators/Collaborators.js
  [FRONT]/src/components/Collaborators/CollaboratorsModal.js
  [FRONT]/src/components/EmployeeRoute.js
  [FRONT]/src/components/Initiator.js
  [FRONT]/src/components/ManagerRoute.js
  [FRONT]/src/components/Survey/AllSurveys.js
  [FRONT]/src/components/Survey/CreateSurvey.js
  [FRONT]/src/components/Survey/ReplySurvey.js
  [FRONT]/src/components/Survey/surveyMock.js
  [FRONT]/src/components/inputs.js
  [FRONT]/src/containers/Collaborators.js
  [FRONT]/src/containers/Dashboard.js
  [FRONT]/src/containers/Layout.js
  [FRONT]/src/containers/LoginPage.js
  [FRONT]/src/containers/NavBar.js
  [FRONT]/src/containers/RegisterPage.js
  [FRONT]/src/containers/SideBar.js
  [FRONT]/src/containers/Survey/All.js
  [FRONT]/src/containers/Survey/Create.js
  [FRONT]/src/containers/Survey/Reply.js
  [FRONT]/src/index.css
  [FRONT]/src/index.js
  [FRONT]/src/utils/Theme.js
Labels: front
